/* Nav Menu Functions*/
.navbar {
  display: flex;
  background-color: grey;
  white-space: prewrap;
  max-width: auto;
  overflow: auto;
  position: relative;
}

.navbar a {
  font-size: normal;
  color: #b22222;
  padding: 30px;
  text-decoration: none;
  float: left;
  text-align: left;
}

.navbar a:hover {
  background-color: #ddd;
  color: #000000;
}

/* Main Body*/

body#bg-img {
  background: url(../img//projects/coding.jpg);
  background: rgba(68, 68, 68, 0.9), url(../img/projects/coding.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3 {
  font-weight: 400;
  text-align: center;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(99, 98, 98, 0.5);
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 2rem;
  min-height: calc(10vh - 20px);
}

main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
  color: white;
}
main#about h1,
h2 {
  color: white;
  overflow: hidden;
}
main#work {
  background-color: #ddd;
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: auto;
  margin: auto;
  border-radius: 30%;
  border: #150241 3px solid;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
  color: white;
}

/* Projects Page*/
.projects  {
  width: fit-content;
  height: fit-content;
  border: 5px solid red;
  padding: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin:0 auto;
}

.btn-dark,
.btn-light {
  display: flex;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn-dark:hover {
  background: #b60b0b;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}
/*Footer*/
#main-footer {
  text-align: center;
  padding: 10px 10px 0px 10px;
  background: #2b2b2b;
  color: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#main-footer .icons {
  margin-top: 0.1rem;
}
#main-footer .icons a {
  padding: 0.4rem;
}
#main-footer .icons a:hover {
  color: #b60b0b;
  transition: all 0.5s ease-out;
}

/*Video Parts in Projects*/
.viewport img {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  width: 300px;
  opacity: 1;
}


.viewport:hover img {
  opacity: 0;
}

.viewport:hover video {
  opacity: 1;
}

.fade {
  transition: opacity 0.5s ease-in-out;
}

video {
  height: 300px;
  width: 300px;
  position: bottom;
  overflow: hidden;
  object-fit: fill;
  top: 0;
  opacity: 0;
}
